@charset "utf-8";
* {
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
body{
	background-image:url(Icons/g.jpg);
	padding-top:70px;
	
	}
section{ display:block;}
nav{
	position:fixed;
	margin:0px;
	display:block;
    height:68px;
    width: 100%;
    top:0;
    left:0;
}
#Fullscreen2
{	position:fixed;
	margin:0px;
	top:0;
    left:0;
	}
#toolbar{
	
	background:#FF0;
	height: 68px;
	border: black solid 1px;
	box-shadow:#999 7px 7px 7px;
	background:-webkit-linear-gradient(left,#FF0,#F96);
	background:-Moz-linear-gradient(left,#FF0,#F96);
	border-radius: 10px;
	width:200%
}
#toolbar_effects{
	background-color:#FF0;
	height: 68px;
	border: black solid 1px;
	box-shadow:#999 7px 7px 7px;
	background:-webkit-linear-gradient(left,#FF0,#F96);
	background:-Moz-linear-gradient(left,#FF0,#F96);
	border-radius: 10px;
	width:1350px;
}

.s{
	background-color:#17F04E;
	border: 2px #000000;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:9px;
	margin-bottom:30px;
	padding: 7 px;
	border-radius: 10px;
}
.s:hover{opacity:0.7;}

#prev{
	background-color:#17F04E;
	border: 2px #000000;
	margin-left: 20px;
	margin-right: 2px;
	margin-top:5px;
	margin-bottom:30px;
	padding: 7 px;
	color:#FFF;
	border-radius: 10px;
}
#next{
	background-color:#17F04E;
	border: 2px #000000;
	margin-left: 2px;
	margin-right: 20px;
	margin-top:5px;
	margin-bottom:30px;
	padding: 7 px;
	color:#FFF;
	border-radius: 10px;
}
#divimg{
	position: fixed;
	margin-top:14%;
	margin-left:32%;
	
}
#ff{
	position: fixed;
	margin-top:36%;
	margin-left:34%;
	
}
#mainicon:hover{
	background-color:transparent;
	opacity: 0.4;
	cursor:pointer;
	}
#can{
	display:block
	position:relative;
	}

#canvas{
	background-color: transparent;
	display: block;
	text-align:center;
}

#filter_table{
	width: 300px;
	height: 200px;
	position:absolute;
	z-index: 10;
	margin-left: 15%;
	margin-top:10%;
	border: white solid 1px;
	background-color:#000;
	
	}
td {border: black solid 1px;
text-align:center;
padding-top:!important;
height:50px;}
caption {font-family: myFirstFont; font-size:28px; color:#F00}
.e{ height: 50px; font-family: myFirstFont; font-size:28px; color:#FF3; background-color:#000;}
@font-face {
    font-family: myFirstFont;
    src:url(XPLOR%20Bold-Regular.otf);
}